body{
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color: #ff0000;
    padding:12px 25px;
    border:none;
    border-radius: 5px;
    color:#fff;
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
    cursor: pointer;
}
.btn-primary:hover{
background-color: transparent;
border:2px solid #ff0000;
color:#ff0000;
}

/* header style start form here */
.banner{
height:400px;
margin-bottom: 150px;
background-color: rgba(229, 84, 115, 0.10);
}
.banner-container{
display: flex;
justify-content: space-around;
padding:10px;
}
.banner-text{
width:300px;
color:#757575;
}
.banner-title{
font-size: 30px;
font-weight: 800;
}
.banner-description{
font-size: 15px;
font-weight: 400;
}
.banner-image img{
width:310px;
}
/* header style end here */

/* service style start form here */
.service-section{
width: 1000px;
margin:0 auto ;

}
.service-title-text{
    width:450px;
    text-align: center;
    margin:0 auto;
}
.service-title{
font-size: 30px;
font-weight: 700;
}
.service-description{
    font-size: 13px;
    font-weight: 400;
}
.service-container{
color:#757575;
}
.service-details-container1{
    display: flex;
    justify-content: space-around;
}
.service-details-container2{
    display: flex;
    justify-content: space-around;
}
.service-details{
display: flex;
justify-content: space-between;
align-items: center;
border:1px solid #ff0000;
width:200px;
margin-bottom: 10px;
padding: 10px;
border-radius: 8px;
cursor: pointer;
}
.service-details:hover{
    transform: scale(1.08);
}
.service-text{
font-size: 15px;
font-weight: 400;
}
.service-image{

}
.service-image img{

}

/* feature style start here */
.feature-section{
width:1000px;
margin:150px auto;
}
.feature-container{

}
.feature-text{
text-align: center;
color:#757575;
margin-bottom: 25px;
width:350px;
margin:0 auto;
}
.feature-title{
font-size: 30px;
font-weight: 700;
}
.feature-description{
font-size: 12px;
font-weight: 400;
}
.feature-images{
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
}
.feature-images .image1{
width:180px;
height: 230px;
padding: 20px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.feature-images .image2{
width:180px;
height: 230px;
padding: 20px;
border-radius: 300px 300px 0px 0px;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.feature-images .image3{
width:180px;
height: 230px;
padding: 20px;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.feature-images .image1 img{
width:180px;

}
.feature-images .image2 img{
    width:210px;
    margin-top: 35px;
   
}
.feature-images .image3 img{
width:167px;
}
.feature-images p{
    color:#757575;
}

/* extra style start here */
.extra-section{
width:1000px;
height: 200px;
margin:0 auto;
background: rgba(39, 39, 39, 0.05);
margin-bottom: 150px;
}
.extra-container{
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
padding:30px;
}

.image p{
color:#757575;
}

/* sign up style start form here */
.signUp-section{
height: 400px;
 background: rgba(229, 84, 115, 0.05);
}
.signUp-container{
display:flex;
justify-content: space-around;
align-items: center;
padding:80px 60px;
}
.signUp-text{
color:#757575;
width:450px;
text-align: center;
}
.signUp-title{
font-size: 30px;
font-weight: 700;
}
.signUp-description{
font-size: 15px;
font-weight: 400;
}
.signUp-image img{
width:200px;
}
/* instagram style start form here */
.instagram-section{
    width:1000px;
    margin:150px auto;
 }
.instagram-container{
text-align: center;
}
.instagram-text{
    width:480px;
    text-align: center;
    color:#757575;
    margin:0 auto;
}
.instagram-title{
font-size: 30px;
font-weight: 700;
}
.instagram-description{
font-size: 12px;
font-weight: 400;
}
.instagram-images{
display: flex;
justify-content: space-evenly;
}
.instagram-images img{
width:180px;

}
/* latestDeal style start form here */
.latestDeal-section{
width: 1000px;
height: 200px;
margin: 0 auto;
position:relative;
background-image: url('../Flower Asset/Rectangle\ 9.png');
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
padding-bottom: 50px;
margin-bottom: 150px;
}
.latestDeal-container{
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
color:#757575;
text-align: center;
}
.latestDeal-title{
font-size: 35px;
}
.latestDeal-description{
font-size: 13px;

}
input[type="email"]{
    width:300px;
    padding:12px 20px;
    border:none;
    outline: none;
}
/* footer style start form here */
footer{
    height: 400px;
    background: #111010;
    position: relative;
}
.footer-container{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
color:#fff;
text-align: center;
}
.footer-title{
font-size: 30px;
font-weight: 700;
}
.footer-description{
font-size: 13px;
font-weight: 400;
}
span{
    color:#ff0000;
}